@tailwind base;
@tailwind components;
@tailwind utilities;

/* SlantedContainer.css */
.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.bg-gradient-to-r {
  background: linear-gradient(to right, #1f2937, rgba(31, 41, 55, 0));
}

.transform {
  transform: skewX(-12deg);
}

.skew-x-12 {
  transform: skewX(12deg);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-8 {
  padding: 2rem;
}

.z-10 {
  z-index: 10;
}
